{% extends "base.html" %}
{% load static %}
{% load show_pagination %}

{% block head_tags %}
        <link type="text/css" rel="stylesheet" href="{% static "css/tbutton.css" %}">
        <script type="text/javascript" src="{% static "js/tbutton.js" %}"></script>
{% endblock %}

{% block content %}

<h1>Link Buttons</h1>

<p>
    The below is a number of toolbar buttons that will open various pages.  If you would like to create your own you can use the <a href="/toolbar_button/link-button-maker/">Custom Link Button Maker</a>.
</p>

{% for entry in entries.object_list %}
    <h2><a href="{% url 'lbutton-button' button=entry.extension_id %}"><img src="{{ entry.icon_24.url }}"  alt="" width="24" height="24"> {{ entry.name }}</a></h2>
    <p>{{ entry.description }}</p>
    <form method="get" action="{% url 'lbutton-button-make' button=entry.extension_id %}">
        <button><img src="{{ entry.icon_16.url }}"  alt="" width="16" height="16"> Install {{ entry.name }}</button>
    </form>
{% endfor %}

{% show_pagination entries link_button %}

{% endblock %}
