{% extends "base.html" %}
{% load static %}

{% block head_tags %}
	<link type="text/css" rel="stylesheet"
		  href="{% static "css/tbutton.css" %}">
	<script type="text/javascript" src="{% static "js/tbutton.js" %}"></script>
{% endblock %}

{% block page_title %}{{ label }} Button{% endblock %}

{% block content %}
	<div class="content-box bookmarklets">
		<a href="/toolbar_button/">Toolbar Buttons</a> &raquo;
		<a href="/toolbar_button/button_list/">Button List</a> &raquo;
		{{ label }}
	</div>
	<div class="content-box">
		<h1><img src="{% get_static_prefix %}images/pastel-svg/32/{{ icon }}"
				 title="{{ tooltip|safe }}" alt="{{ tooltip|safe }}">
			{{ label }}</h1>
		{{ description|linebreaks }}

		<div class="clear">
			<form method="get" class="left" action="{% url 'tbutton-create' %}">
				<input type="hidden" value="{{ button }}" name="button">
				<input type="hidden" value="{{ application }}"
					   name="application">
				<input type="hidden" value="true" name="add-to-toolbar">
				<button type="submit">
					<img src="{% get_static_prefix %}images/pastel-svg/32/{{ icon }}"
						 title="{{ tooltip|safe }}" alt="{{ tooltip|safe }}">
					Install {{ label }}</button>
			</form>
			<form method="get" class="left" action="{% url 'tbutton-create' %}">
				<input type="hidden" value="{{ button }}" name="button">
				<input type="hidden" value="{{ application }}"
					   name="application">
				<input type="hidden" value="true" name="add-to-toolbar">
				<input type="hidden" value="true" name="offer-download">
				<button type="submit">
					<img src="{% get_static_prefix %}images/pastel-svg/32/{{ icon }}"
						 title="{{ tooltip|safe }}" alt="{{ tooltip|safe }}">
					Download {{ label }}</button>
			</form>
		</div>
		<p class="compatibility clear">
			Compatibility:
			{% for app in apps %}
				<img src="{% get_static_prefix %}images/icons/{{ app }}.png"
					 alt="">
				{% for key, app_names in application_names.items %}
					{% if key == app %} {{ app_names|join:", " }}{% endif %}
				{% endfor %}
			{% endfor %}
		</p>
	</div>
	{% if related %}
		<div class="content-box">
			<h2>Often used with:</h2>
			<ul>
				{% for button in related %}
					<li style="list-style-image:url({% get_static_prefix %}images/pastel-svg/16/{{ button.icon }});">
						<a href="{% url 'tbutton-button' button_id=button.name %}">{{ button.label|safe }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}